<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>
    <brokerData>
        <baseUrl>https://gdcdyn.interactivebrokers.com/Universal/servlet/</baseUrl>
        <token>...</token>
        <dailyQueryId>...423</dailyQueryId>
        <monthlyQueryId>...</monthlyQueryId>
        <lastMonthQueryId>...</lastMonthQueryId>
        <apiVersion>3</apiVersion>
    </brokerData>
    <emailData>
        <emailSender>ib.trade.tracker@gmail.com</emailSender>
        <emailSenderPass>...</emailSenderPass>
        <targetEmail>pabcas@pm.me</targetEmail>
    </emailData>
</configuration>